.reportedIssueContainer {
    padding-top: 120px;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 768px) {
    

    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px !important;
        /* word-wrap: break-word; */
    }

    .overflow-x-auto {
        overflow-x: scroll;
    }

    .truncate {
        white-space: normal !important;
        /* word-break: break-word; */
    }
}
